/* Dark theme colors (light theme not decided upon yet) */
[theme="dark"] {
  --bg-color: #272130;
  --text-color: #f3effb;
  --nav-color: #443b54;
  --card-color: #443b54;
  --info-color: #484d55;

  --button-color: #99f8ba;
  --button-text-color: #03260f;
}
[theme="light"] {
  --bg-color: white;
  --text-color: black;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding-bottom: 10vh;
}

form {
  color: var(--text-color);
}

hr {
  border-color: var(--button-color);
}

.bg-light {
  background-color: var(--card-color) !important;
}

/* Pop-up menus, like group/task creation forms */
.pop-up {
  background-color: var(--card-color);
  position: absolute;
  z-index: 20;
}

/* Use this on an empty hidden div and toggle the hidden value
 * to darken all elements aside from pop-ups */
.darkening-screen {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #00000088;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}

/* Class for fixing alignment on Material Design Icons;
 * if you're having an issue where an icon is too high
 * next to text, add this class to span for that icon. */
.icon-align {
  vertical-align: bottom;
}

.bg-info {
  background-color: var(--nav-color) !important;
}

/* Buttons */
.btn-primary {
  background-color: var(--button-color) !important;
  color: var(--button-text-color) !important;
  font-size: 130%;
  border: 0;
  transition: all 0.2s ease-in-out;
}

.btn-primary:hover {
  opacity: 70%;
}

.btn-icon {
  color: var(--button-color) !important;
  transition: transform 0.3s;
  transform: scale(1.2);
  border: 0;
}

.btn-icon:hover {
  transform: scale(1.4);
}

.check-icon {
  transform: scale(1.4);
}

/* CTA */

.cta__p-container {
  padding: 1rem;
  color: var(--text-color);
  font-size: 1.2rem;
}

.cta-container .btn-primary:hover {
  transform: translateY(-4px);
}

/* Group */
#groupStatusContainer {
  background-color: var(--info-color) !important;
}

/* Calendar */

#calendar {
  max-width: 1100px;
  margin: 40px 10px;
  padding: 10px 0px;
  font-family:
    Arial,
    Helvetica Neue,
    Helvetica,
    sans-serif;
  font-size: 16px;
}

/* Checklist */

.checklist-item {
  background-color: var(--card-color);
  cursor: pointer;
}

.urgent {
  background-color: darkred;
}

.checked {
  opacity: 40%;
}
.urgent.checked {
  background-color: var(--card-color);
}

/* Navbar & Footer */
navbar-component .nav-item,
footer-component .nav-item {
  flex-grow: 1;
  flex-basis: 0;
}

navbar-component .nav-link,
footer-component .nav-link {
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
}

navbar-component .nav-link:hover,
footer-component .nav-link:hover {
  opacity: 70%;
}

footer-component {
  z-index: auto !important;
}

/* Close button component */
.close-button {
  color: var(--text-color);
  transform: scale(1.2);
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.close-button:hover {
  opacity: 70%;
}

/* Error text for form validation */
.error-text {
  color: red;
}

/* Filter menu */
#filter {
  background-color: var(--card-color);
  padding: 0.5em;
  margin-top: 0.5em;
  max-height: 20vmax;
  overflow-y: scroll;
  width: fit-content;
}

.bigArrow {
  transform: scale(1.5);
}

@media screen and (max-width: 991px) {
  /* Size adjustment on certain icons for small screens;
   * if your icon looks too small on mobile try adding it
   * to the selector for this rule */
  navbar-component span.material-icons-outlined,
  footer-component span.material-icons-outlined,
  .filter-icon,
  .add-icon {
    font-size: calc(2.35rem + 1.5vw) !important;
  }

  /* Font size adjustment for small screens */
  html {
    font-size: 10px;
  }
}
