/* Class for fixing alignment on Material Design Icons;
 * if you're having an issue where an icon is too high
 * next to text, add this class to span for that icon. */
.icon-align {
  vertical-align: text-bottom;
}

.bg-info {
  background-color: #a675a1 !important;
}

/* CTA */

.cta__p-container {
  padding: 1rem;
  background-color: #faf4f8;
  color: #333333;
  font-size: 1.2rem;
}

.cta-container .btn-primary {
  background-color: #008080;
  color: #ffffff;
  font-size: 130%;
  border-color: #008080;
}

.cta-container .btn-primary:hover {
  background-color: #006666;
  transform: translateY(-4px);
  transition: all 0.2s ease-in-out;
}

/* calendar */

#calendar {
  max-width: 1100px;
  margin: 0 auto;
  margin: 40px 10px;
  padding: 0;
  font-family:
    Arial,
    Helvetica Neue,
    Helvetica,
    sans-serif;
  font-size: 16px;
}

/* Navbar & Footer */
navbar-component .nav-item,
footer-component .nav-item {
  flex-grow: 1;
  flex-basis: 0;
}

@media screen and (max-width: 991px) {
  navbar-component span.material-icons-outlined,
  footer-component span.material-icons-outlined {
    font-size: calc(2.35rem + 1.5vw) !important;
  }
}
/* checklist */



